{
  "basePath" : "auth",
  "apps" : {
    "default"   : "http://10.0.100.1:3000/ssoauth",
    "messaging" : "http://10.0.100.2:3000/ssoauth"
  },
  "debug" : false,
  "serverToken" : "A unique string to authenticate the HTTP POST sent by the server. PLEASE CHANGE THIS!!!"
}
